apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-nginx-demo
  labels:
    k8s-nginx-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-nginx-demo
  template:
    metadata:
      labels:
        k8s-nginx-demo
    spec:
      containers:
      - name: k8s-nginx-demo
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
