apiVersion: v1
kind: Service
metadata:
  name: k8s-nginx-demo
  labels:
    k8s-nginx-demo
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    k8s-nginx-demo
